*{
    scroll-behavior: smooth;
}

body{
    /* background: linear-gradient(#000000,#0d1aa8,#6a0000); */
    background-image: url(Untitled\ design.png);
    /* background-image: url(Untitled design.png); */
    background-size: contain;
    background-color: black;
    background-repeat: repeat-x;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
}


.headnnav a{
    color: #2ecc71;
    display: flex;
    padding-top: 20px;
    padding-right: 20px;
    z-index: -1;
}

.headnnav a:hover{
    color: #eee;
}

.navtxt a:hover{
    color: #eee;
}



.nav{
    display: flex;
    float: right;
    color: cadetblue;
    padding-top: 0px;
    font-size: 23px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 6px;
    z-index: -1;
    text-align: center;
    /* padding-right: 20px; */
}


.namenpic{
    padding-top: 20px;
    padding-left: 8%;
    /* padding-right: 2cm; */
    padding-bottom: 0cm;
    position: relative;
    
}

#menu-icon{
     font-size: 35px;
     color: #2ecc71;
     cursor: pointer;
     z-index: 10001;
     display: none;
}

/* .namenpic a:hover{
    opacity: 0;
} */

.about {
    opacity: 0; /* start with the text hidden */
    animation: appear 1s forwards; /* call the "appear" animation for 1 second */
  }

  .experience {
    opacity: 0; /* start with the text hidden */
    animation: appear 1s forwards; /* call the "appear" animation for 1 second */
  }
  .education{
        opacity: 0; /* start with the text hidden */
        animation: appear 1s forwards; /* call the "appear" animation for 1 second */
      }

      .projects {
        opacity: 0; /* start with the text hidden */
        animation: appear 1s forwards; /* call the "appear" animation for 1 second */
      }

      .contact {
        opacity: 0; /* start with the text hidden */
        animation: appear 1s forwards; /* call the "appear" animation for 1 second */
      }

     

.about{
    padding-top: 2.5cm;
    text-align: center;
}

/* .experience{

} */

span{
    color: #2ecc71;
    }

h3 {
    color: #eee;
    font-weight: 400;
    font-size: 17px;
}


.social a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.1);
}

.social a:hover{
    transform: scale(1.1);
    background-color: #2ecc71;
    transition: .4s;
}

.abt{
    height: 50px;
    width: 150px;
    color: #eee;
    background: rgba(255,255,255,0.1);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 3px;
    line-height: 24px;
    border: 2px solid #2ecc71;
    border-radius: 30px;
    cursor: pointer;
}

.aboutp{
    height: 0px;
    color: #eee;
    background-color:rgba(255,255,255,0.1) ;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 0px;
    cursor: pointer;
}

.abt:hover{
    background: transparent;
    background-color: #2ecc71;
    border:2px solid #9decbe;
    color: #eee;
    transition: .4s;
}

.edu-hd{
    padding-left: 2cm;
    padding-bottom: 0%;

    text-align: center; 
    height: 10;padding-top: 2cm;
    padding-left:0cm; 
    text-align: center;    
}

.edu-sh{
    padding-left: 8.5cm;
    padding-top: 0%;
    font-size: 20px;
}

.edu-ssh{
    padding-left: 8.5cm;
    padding-top: 0%;
}

.pro_c{
    padding-left: 11cm;
    padding-right: 9cm;
}

.ehd{
    text-align: center; 
    height: 10;
    padding-top: 2cm;
}

@keyframes appear {
    0% {
      opacity: 0; /* start with the text hidden */
      transform: translateY(20px); /* move the text 20px down */
    }
    100% {
      opacity: 1; /* end with the text fully visible */
      transform: translateY(0); /* move the text back to its original position */
    }
  }



.pro_div{
    padding-top: 1.5cm;
}

.ex_hd{
    padding-left: 15px;
}

.title{
    padding-left: 40%;
}

.ph_img {
    display: none;
    height: 3%;
    width: auto;
    align-items: center;
    text-align: center;
    margin: 0%;
    /* Other image styles */
  }

  .cont {
    text-align: center; /* Center-align the content horizontally */
    margin: 0%;
  }

  .centered-image {
    display: block;
    margin: 0 auto;
  }

  .pinky{
    color: black;
    display: hidden;
    font-size: 60%;
  }

  .soc_loc{
    padding-top: 1%;
    padding-left: 1%;
  }

  

  @media (max-width: 767px) { /* Adjust this value as needed */

    *{
        padding-top: 0%;
    }

    body {
      padding-left: 0;
      background-color: black;
      background-image: none;
    }
    
    /* Specific styling for a particular element */
    .namenpic {
      padding-left: 0px; /* Adjust the padding value as needed */
      margin: 10%;
      width: auto;
    }

    .headnnav {
        padding-left: 0px; /* Adjust the padding value as needed */
        padding-top: 0%;
      }

    .experience{
        padding-left: 0px;
    }

    h4.ex_hd{
        padding-left: 0px;
    }

    .social{
        padding-top: 0%;
    }

    div.social{
        padding-left: 5%;
        margin-top: 4%;
    }

    .img1{
        display: none;
    }

    .edu-sh{
        padding-left: 0%;
    }

    .pic_ctrl{
        display: none;
    }

    .edu-ssh{
        padding-left: 0%;
    }

    div.social{
        padding-top: 0%;
    }

    .pro_div{
        padding-left: 0%;
    }

    .pro_c{
        padding-left: 0%;
        padding-right: 0%;
    }

    .input{
        margin-bottom: 60px;
    }


    .ph_img{
        display: block;
        /* height: 0%; */
        width: auto;
        align-items: center;
        text-align: center;
        margin: 0%;
    }   


    .nav{
        display: none;
        pointer-events: none;
    }

    .namenpic{
        padding-top: 0px;        
        margin-bottom: 10%;
        display: inline;
    }

    h1.namenpic{
        display: inline;
        margin-bottom: 30%;
    }

    span.input{
        position: relative;
        margin-bottom: 40%;
        padding-top: 10%;
    }

    .cont{
        padding-top: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

    .head1{
        padding-top: 0%;
        margin-top: 0%;
        padding-bottom: 0%;
        margin-bottom: 0%;
        
    }

    .head2{
        padding-bottom: 4%;
        margin-bottom: 0%;
        padding-top: 0%;
        margin-top: 0%;
        display: inline;
    }

    h3.head2{
        padding-top: 20%;
        margin-bottom: 5%;
    }

    img.ph_img{
        padding-top: 0%;
        margin-top: 0%;
    }

    .iam{
        display: inline;
    }
    .pinky{
        display: inline;
        color: black;
        padding-bottom: 10%;
    }


    .ele{
        /* display: block;  */
      }

    .moststruggled{
        margin: 0cm;
        display: flex;
        display: inline;
    }

    .about{
        font-size: larger;
    }

    .experience{
        padding-left: 2%;
        padding-right: 2%;
    }

    .exhdd{
        padding-left: 5%;
        padding-right: 5%;
    }
  }

  .education{
    padding-left: 2%;
    padding-right: 2%;
  }

  h4.ex_hd{
    margin-bottom: 0%;
    font-size: larger;
  }
  p.edu-sh{
    margin-top: 1%;
    margin-bottom: 0%;
    padding-left: 5%;
  }
  p.edu-ssh{
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
  }

  h1.edu-hd{
    padding-top: 4%;
  }

  .projects{
    padding-top: 0%;
  }
  
  div.pro_div{
    padding-top: 0%;
    padding-left: 2%;
  }

  p.pro_c{
    padding-left: 3%;
    padding-right: 2%;
  }

  h4.pro4{
    margin-bottom: 0%;
  }

  div.social{
    padding-left: 0%;
    padding-top: 3%;
    text-align: center;
  }

  h1.head1{
    position: absolute;
  }

  .soc_loc{
    padding-top: 5%;
    padding-bottom: 1%;
  }